<div class="row">
    <div class="col-2"> </div>
    <div class="col-8">
        <div class="card topSpace">
            <div class="card-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Post Comments</li>
                    </ol>
                  </nav>
              </div>
            <div class="card-body">
                <h5 class="card-title"> Post Comments</h5>
                <table class="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let showpost of uPosts" class="text-justify">
                        <th scope="row">{{showpost.id}}</th>
                        <td>{{showpost.name}}</td>
                        <td>{{showpost.email}}</td>
                        <td>{{showpost.body}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
              
            
        </div>
        
        
    
        </div>
    
    <div class="col-2"></div>
  </div>

